  .homeScreen {
    max-width: 1280px;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    padding: 40px 80px;
  }

  .topContainer{
    width: 1280px;
    max-height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    margin-bottom: 40px;
  }
  
  /* Заголовок */
  .title {
    font-size: 1.5rem;

    font-weight: bold;
    color: #333;

    margin-bottom: 20px;
    padding-right: 270px;
  }
  
  /* Поисковая строка */
  .searchBar {
    margin-bottom: 20px;
  }
  
  .searchInput {
    width: 630px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

    /* Секции */
  
  .middleContainer{
    display: flex;
    flex-direction: row;
    max-height: 300px;
    gap:166px
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 40px;
  }
  
  .sectionTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Грид с фильмами */
  .movieGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  
  /* Картинки фильмов */
  .movieCard {
    max-width: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .moviePoster {
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .movieCard:hover .moviePoster {
    transform: scale(1.1); /* Увеличение при наведении */
  }
  
  .rating {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  
  /* Нижняя часть экрана */
  .footer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    color: #888;
  }