.movieScreen {
    max-width: 1280px;
    height: 90vh;
  
    display: flex;
    flex-direction: column; 
    justify-content:top; 
    overflow: hidden; 
  
    padding: 40px 80px;
  }
  

  .topContainer {
    width: 100%;
    max-height: 100px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
  
    margin-bottom: 30px; 
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  
    margin-bottom: 10px;
  }
  

  .searchBar {
    margin-bottom: 20px;
  }
  
  .navigation{
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .navigationList{
    display: flex;
    flex-direction: column;
    gap:5px
  }
  
  .searchInput {
    width: 630px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для визуального эффекта */
    text-align: center;
  }


  .infoSection{
    max-height: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    margin-bottom: 40px;
  }

  .infoLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .movieInfo{
    display: flex;
    flex-direction: row;
  }

  .movieTitle{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .movieImg{
    min-width: 190px;
    min-height: 290px;
    width: 190px;

    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background-color: black;
    object-fit: cover;
  }

  .movieText{
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }

.movieTypeContainer{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.movieType{
  border: #333 1px solid;
  border-radius: 30px;
  padding: 5px 10px;
}

.movieRatingContainer{
  display: flex;
  flex-direction: row;
  gap:25px;
  align-items: center;
}

.imbdRating{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.imbdRatingNumber::before{
    content: "";
    display: inline-block;
    width: 20px; 
    height: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gold"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>');
    background-repeat: no-repeat;
    margin-right: 10px; 
    vertical-align:text-bottom; 
    animation: blink 2s infinite;
}

p + .imbdRatingNumber, .reviewsCount {
  color:#636363;
}

@keyframes blink {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}

.ratingNumberBold{
  font-size: 1.6rem;
  font-style: bold;
  color: black;
}

.imbdRatingTitle{
  font-size: 1.7rem;
  font-style: bold;
}

.infoRight{
  max-width: 550px;

  display: flex;
  flex-direction: column;
  gap:28px;
  align-items:end;
}

.trailer{
  width: 520px;
  height: 291px;
  background-color: black;
  border-radius: 20px;
}

.addToWathBtn{
  background-color: #D9D9D9;
  padding: 12px 30px;
  border-radius: 20px;
}

.bottomContainer{
  max-height: 280px;
}

.partsSection{
  display: flex;
  flex-direction: column;
  gap:20px;
}

.seasons{
  display: flex;
  flex-direction: row;
  gap:30px;
  font-weight: bold;
  align-items:center;

}

.seasonsTitle{
  font-size: 30px;
}

.seasosButtons{
  display: flex;
  flex-direction: row;
  gap:10px;
}

.seasosButton{
  background-color: #D9D9D9;
  padding: 12px 15px;
  border-radius: 10px;
}
