@import url(./helpers/reset.css);



/* Общие стили */
body {
  max-width: 1440px;
  height: 100vh;

  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;

  overflow: hidden;
  margin: 0 auto;
}